*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.section{
    width: 100%;
    height: 1024px;
    background-color: #4644a9;
    display: flex;

}

.linkAreas{
    width: 100%;
    font-style: normal;
    display: flex;
    flex-direction: column;
    
    
}
 
