.projetos{
    display: flex;
    align-items: center;

}

.projetos-title{
    margin-left: 10%;
    margin-right: 7rem;
}

.projetos h1{
    font-size: 6rem;
    color: #FFFFFF;
    font-family: 'K2D';
}

.projetos img{
    width: 25rem;
    height: 32rem;
    margin-top: 150px;
    border-radius: 3px;
    filter: drop-shadow(20px -15px 4px rgba(0, 0, 0, 0.25));
    border: 3px solid black;
}

.grid-projetos{
    width: 500px;
    height: 500px;
    background: rgba(20, 47, 78, 0.63);
    box-shadow: 20px -25px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    justify-content: center;
    display: flex;
    margin-right: 5%;
    margin-top: 10rem;
    margin-left: 5%

}

